 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Code</h2>
      <i class="devicon-csharp-plain colored"></i>
      <i class="devicon-dot-net-plain-wordmark colored"></i>
      <i class="devicon-php-plain colored"></i>
      <i class="devicon-mysql-plain-wordmark colored"></i>
      <i class="devicon-java-plain-wordmark colored"></i>
      <p>These languages and techniques are but a selection of the skills I have picked up during my education and short time in the industry</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain colored"></i>
      <i class="devicon-visualstudio-plain-wordmark colored"></i>
      <i class="devicon-github-plain colored"></i>devicon-linux-plain colored
      <i class="devicon-linux-plain colored"></i>
      <i class="devicon-windows8-original colored"></i>
      <p>"A man is only as good as his tools." ~ Emmert Wolf</p>
    </div>
</div>
