<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="game" src="https://raw.githubusercontent.com/callumhutchy/Hnefatafl-Major-Project/master/Hnefatafl%20Major%20Project%20Client/Assets/Images/Tutorial%20Photos/Blank.png" />
  </div>
  <div class="contents">
    <h3> University Major Project: Hnefatafl </h3>
    <ul>
      <li> Unity </li>
      <li> .Net Multiplayer Server </li>
    </ul>
    <p>My final year project for University was based on the digital recreation of an ancient medieval board game Hnefatafl, this is a variant of the wide spread game Tafl played mainly in Scandinavia. From the project I produced a working mobile application (Android) that could play two player hot-seat style games and online match making multiplayer.</p>
    <p>The project allowed me to implement multiplayer techniques I had been experimenting with in personal time in a more professional capacity.</p>
    <a class="project-link" href="https://github.com/callumhutchy/Hnefatafl-Major-Project">Check the code out</a>
  </div>
</div>
