<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="game" src="https://raw.githubusercontent.com/callumhutchy/Hnefatafl-Major-Project/master/Hnefatafl%20Major%20Project%20Client/Assets/Images/Tutorial%20Photos/Blank.png" />
  </div>
  <div class="contents">
    <h3> University Major Project: Hnefatafl </h3>
    <ul>
      <li> Unity </li>
      <li> .Net Multiplayer Server </li>
    </ul>
    <p>My final year project for University was based on the digital recreation of an ancient medieval board game Hnefatafl, this is a variant of the wide spread game Tafl played mainly in Scandinavia. From the project I produced a working mobile application (Android) that could play two player hot-seat style games and online match making multiplayer.</p>
    <p>The project allowed me to implement multiplayer techniques I had been experimenting with in personal time in a more professional capacity.</p>
    <a class="project-link" href="https://github.com/callumhutchy/Hnefatafl-Major-Project">Check the code out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="game" src="https://oldschool.runescape.wiki/images/4/4f/High_Level_Alchemy.gif?5e779" />
  </div>
  <div class="contents">
    <h3> Old School Runescape : High Alchemy Calculator </h3>
    <ul>
      <li> Javascript/React </li>
      <li> Rest Api </li>
    </ul>
    <p>There are several calculators online designed to show the most profitable items to High Alch in OSRS, but i've always found their data to be slightly outdated.</p>
    <p>I created my own version to see if I could get data closer to realtime to then use and make some money.</p>
    <a class="project-link" href="http://developer.callumhutchy.co.uk/high-alch-calc">Check the project out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="game" src="https://wiki.guildwars.com/images/thumb/6/69/Guild_Wars_Prophecies_logo.png/160px-Guild_Wars_Prophecies_logo.png" />
  </div>
  <div class="contents">
      <h3> Guild Wars : Skill template viewer </h3>
    <ul>
      <li> Javascript/React </li>
      <li> Base64 Encoding/Decoding </li>
    </ul>
    <p>In preperation for another project I need a skill viewer which can be loaded as an element on a webpage.</p>
    <p>Currently the only skill viewers on the web appear to be proprietary to their respective websites, once finished mine can be used by anyone.</p>
    <a class="project-link" href="http://developer.callumhutchy.co.uk/gw-skills">Check the prpject out</a>
  </div>
</div>
